---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "4"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

branches:
  only:
    - master

before_install:
  - true && `base64 --decode <<< ZXhwb3J0IFNBVUNFX1VTRVJOQU1FPXRyZW50bXdpbGxpcwo=`
  - true && `base64 --decode <<< ZXhwb3J0IFNBVUNFX0FDQ0VTU19LRVk9MjExZDUxOTAtNWQxYS00YzYzLWFhOGYtMjA1YmIzYzRlMGZmCg==`
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version "1.12.1"

install:
  - yarn install --frozen-lockfile --non-interactive

stages:
  - test
  - additional tests

jobs:
  fail_fast: true

  include:
    # runs tests in chrome with current locked deps and linting

    - env: NAME=test # used only to make Travis UI show description
      script:
        - yarn test:node
        - yarn test

    # If that passes:
    # - run tests in other browsers
    # - run tests without pinned dependencies to catch issues with new versions

    - stage: additional tests
      env: NAME=test sauce
      script:
        - ember sauce:connect
        - yarn test:sauce
        - ember sauce:disconnect

    - env: NAME=floating dependencies
      install: yarn install --no-lockfile --non-interactive
      script:
        - yarn test:node
        - yarn test
