---
language: node_js
node_js:
  - "4"

sudo: false

cache:
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=default PHANTOM=phantomjs PHANTOM_V=1.*
  - EMBER_TRY_SCENARIO=default PHANTOM=phantomjs-prebuilt PHANTOM_V=*

matrix:
  fast_finish: true

branches:
  only:
    - master

before_install:
  - npm config set spin false
  - npm install -g bower
  - bower --version
  - npm install $PHANTOM@$PHANTOM_V
  - node_modules/$PHANTOM/bin/phantomjs --version

install:
  - npm install
  - bower install

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - npm run test:node
  - ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup
